black
ipyparallel
ipykernel
pyppeteer
jupyter
jupyterlab
jupyterhub
nbconvert[webpdf]
metakernel
calysto-bash
matplotlib
seaborn
numpy
pandas
uproot
tqdm
scikit-learn
XGBoost
lxml
openpyxl
html5lib 
pytest
coverage